/* Write your CSS here */
.but {
  width: 17vw;
  height: 6vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  border-color: #ffffff;
  background-color: #585076;
  margin: 15px;
}
.item {
  list-style-type: none;
}
